
target/
dbt_modules/
dbt_packages/
logs/
venv/
__pycache__
.tox/
/.pytest_cache/


# Ignore all directories that start with 'env-' and can have any name after
env*/

# Do not ignore .env files in any directory and do not ignore .env directories
!.env
!*/.env/

# But explicitly ignore test.env files
test.env
dbt_internal_packages/
